/* Общие стили для формы и полей ввода */
body {
    background: linear-gradient(to bottom, #ffffff, #4CAF50);
}

.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn {
    padding: 10px 20px;
    background-color: darkgrey;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Дополнительные стили для страницы отдела закупок */
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.logout-form {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btn-logout {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #007bff;
}