<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отдел закупок</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/purchasing-department.css}">
</head>
<body>
    <h1>Добро пожаловать в отдел закупок!</h1>

    <div class="form-group">
        <label for="product">Номер Заказа покупки:</label>
        <input type="text" id="product" name="product" class="form-control">
    </div>

    <div class="form-group">
        <label for="supplier">Поставщик (реквизиты):</label>
        <input type="text" id="supplier" name="supplier" class="form-control">
    </div>

    <div class="form-group">
        <label for="product">Контактное лицо (ФИО, должность, телефон, эл.почта)):</label>
        <input type="text" id="FIO" name="product" class="form-control">
    </div>
    <div class="form-group">
        <label for="product">Дата регистрации Заказа:</label>
        <input type="text" id="data_prod" name="product" class="form-control">
    </div>
    <div class="form-group">
        <label for="product">Дата поступления на склад ТМЦ:</label>
        <input type="text" id="data_tmc" name="product" class="form-control">
    </div>
    <div class="form-group">
        <label for="quantity">Количество (ед.) и стоимость ТМЦ (руб.) на складе из Формы складских остатков (для информации)</label>
        <input type="number" id="quantity" name="quantity" class="form-control">
    </div>
    <div class="form-group">
        <label for="product">№ договора дата договора с Поставщиком:</label>
        <input type="text" id="number" name="product" class="form-control">
    </div>
    <div class="form-group">
        <label for="product">Менеджер покупок (ФИО):</label>
        <input type="text" id="manager" name="product" class="form-control">
    </div>

    <div class="form-group">
        <label for="product">НДС (20%):</label>
        <input type="text" id="nds" name="product" class="form-control">
    </div>

    <div class="form-group">
        <label for="product">ИТОГО ТМЦ на покупку (руб.):</label>
        <input type="text" id="res" name="product" class="form-control">
    </div>
    <div class="form-group">
        <label for="product">Наименование ГП:</label>
        <input type="text" id="name_gp" name="product" class="form-control">
    </div>
    <div class="form-group">
        <label for="product">Наименование ТМЦ:</label>
        <input type="text" id="name_tmc" name="product" class="form-control">
    </div>
    <div class="form-group">
        <label for="quantity">Количество ТМЦ</label>
        <input type="number" id="quantity_tmc" name="quantity" class="form-control">
    </div>
    <button type="submit" class="btn">Отправить заказ</button>

    <form th:action="@{/logout}" method="post" class="logout-form">
        <button type="submit" class="btn-logout">Logout</button>
    </form>

</body>
</html>